*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    width: 100%;
    min-height: 200vh;
    overflow: hidden;
    background: linear-gradient(135deg, #020617, #0f172a,#001d3d,#000814);
}
nav{
    width: 100%;
    height: 10vh;
    position: fixed;
}
.nav-conteneur{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo img{
    height: 70px;
    width: auto;
   filter: drop-shadow(0 0 8px rgba(0, 149, 255, 0.8))
            drop-shadow(0 0 15px rgba(138, 43, 226, 0.6));
    transition: transform 0.3s ease, filter 0.3s ease;
}
.hamburg, .cancel{
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 2rem;
    display: none;
    color: #FFFFFF;
}

.nav-conteneur .links{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.nav-conteneur .links a{
    position: relative;
    font-size: 1.2rem;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    transform: 0.3s linear;
}
.nav-conteneur .links a::before{
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    content: "";
    bottom: -3px;
    transition: 0.2s linear;
}
.btn-contact {
    background-color: transparent;
    padding: 5px 20px;
    border: 2px solid #3B82E6;
    border-radius: 20px;

}
.nav-conteneur .btn-contact a{
    color: #4edbfa;
    transition: 0.3s linear;
}
.nav-conteneur .btn-contact a:hover .nav-conteneur:hover a{
    color: #1E1B4B;
    background-color: #3B82E6;
}
.dropdown{
    top: 0;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: auto;
    transform: translateY(6500px);
    backdrop-filter: brigthness(40%) blur(3px);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}
.dropdown .links a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}
.dropdown .links a:hover{
    background-color: #3B82E6;
}
/*section about*/
#about{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 10px;
}
.main-conteneur{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 80px 10px;
    flex-direction: row-reverse;
}
.image{
    width: 50%;
    text-align: center;
}
.image img{
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
}
.main-texte{
    width: 50%;
}
.main-texte h1{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 800;
}
.main-texte h1 span{
    color: #00A2E8;
}
@media(max-width:768px){
    #about{
        display: block;
        position: relative;
        width: 100%;
        
        min-height: 100vh;
        overflow: hidden;
        box-sizing: border-box;
        padding-top: 100px;
        padding-bottom: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .main-conteneur{
        display: block;
        position: static;
    }
.image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 0;
}
.image img{
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    object-fit: contain;
    object-position: left top;
}
.main-texte{
    position: relative;
    z-index: 2;
    width: 100%;
    text-align: left;
    margin-top: 25vh;
}
.main-texte h1{
    font-size: 38px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.main-texte h1 span{
    color: #00bfff;
    display: block;
}

}
.type-ecriture{
    font-weight: 500;
    font-size: clamp(1rem,1rem + 5vw, 3rem);
    display: inline-block;
}
.type-ecriture span{
    color: #00bfff;
    font-size: 2.5rem;
    text-shadow: 0 0 5px #00bfff;
    position: relative;
    transition: 0.3s linear;
}
.type-ecriture span::before{
    content: "Frontend Developer";
    animation: words 15s infinite;
}
.type-ecriture span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    animation: cursor 0.6s linear infinite;
}
.type-ecriture h2{
    font-size: 2rem;
    color: #FFFFFF;
}

@keyframes cursor{
    top{
        border-left: 3px solid #4b1b1b;
    }
}
@keyframes words {
    0%,33%{
        content: "Frontend Developer";
    }
    34%,66%{
        content: "Desagner";
    }
    67%,100%{
        content: "Engeineer AI";
    }
}
.main-texte p{
    font-size: 15px;
    line-height: 1.6;
    color: #FFFFFF;

}
@media (max-width:884px){
    body{
        overflow-y: visible;
    }
    nav .logo{
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-conteneur{
        display: flex;
        flex-direction: column;
    }

    .nav-conteneur .links{
        display: none;
    }

    .hamburg, .cancel{
        display: block;
    }
    .main-conteneur{
        width: 80%;
    }
    .hamburg{
        color: #FFFFFF;
    }
    .main-conteneur .image{
        width: 80%;
        margin-bottom: 0px;
    }
}
.social-icons{
    display: flex;
    gap: 15px;
    margin-top: 25px;
    margin-right: auto;
    flex-direction: row;
    width: 100%;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background: transparent;
    border: 2px solid #00A2E8;
    border-radius: 50%;
    font-size: 24px;
    transition: all 0.4s ease;
    text-decoration: none;
    color: black;
}
.social-icons a i {
    color: black;
    font-size: 22px;
    line-height: 1;
}
.social-icons a:hover{
    background: #00A2E8;
    box-shadow: 0 0 15px #00A2E8;
    transform: translateY(-5px);
}
.social-icons a:hover i{
    color: black;
}
/* SECTION SKILLS */
.Skills{
    display: block;
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 80px auto 0 auto;
    text-align: center;
}
.title{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
.title .voir{
    color: #4edbfa;
}
.skills-boîte{
    width: 100%;
    text-align: left;
}
.skill-titre{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    color: #FFFFFF;
}
.skills-contenus{
    background-color: #1f1f1f;
    border-radius: 12px;
    padding: 2.5rem 2rem;
}
.skills-parti{
    margin-bottom: 2.5rem;
    display: block;

}
.skills-parti:last-child{
    margin-bottom: 0;
}
.info{
    display: flex;
    justify-content: space-between;
    font-size: 0.95rem;
    margin-bottom: 0.6rem;
    color: #e0e0e0;
    font-weight: 500;
}
.progress-bar{
    width: 100%;
    height: 10px;
    background-color: #111111;
    border-radius: 10px;
    overflow: hidden;
}
.progress-line{
    height: 100%;
    background-color: #4edbfa;
    border-radius: 10px;
    transition: width 1s ease-in-out;
}